<div class="container">

  <h1>Welcome to the Flashcard Game</h1>
    <h2>Register for an account</h2>

    <form action="/" method="post">
      <input type="text" name="user[name]" placeholder="Enter your name"><br>
      <input type="text" name="user[username]" placeholder="Enter a username"><br>
      <input type="text" name="user[password]" placeholder="Enter a password"><br>
      <input type="submit">
    </form>

    <h2>Sign in</h2>
    <form action="" method="">
      <input type="text" name="user[username]" placeholder="Username">
      <input type="text" name="user[password]" placeholder="Password">
      <input type="submit">
    </form>


</div>
