<h1>Question: <%= @flashcard.question %></h1> 
<form action='/answer' method='POST'>
<label for="user_answer">Your guess:</label>
<input type='text' name="user_answer" placeholder="enter guess">
<input type='submit' value="Guess!">
</form>

